.main-input {
    justify-content: center !important;
}

.whole-input {
    width: 65%;
    left: 17%;
}

.whole-input input::placeholder {
  font-size: 17px;
}

.whole-input input {
    font-size: 17px;
    padding-left: 15px;
}

.form-control:focus{
    border-color: #c1c1c1;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.convert-button {
    font-size: 18px;
    border-radius: 0px 10px 10px 0px;
    width: (100% - 200px);
    height: 100%;
    color: rgb(240, 240, 240) !important;
    background-color: rgb(46,164,79) !important;
}

.convert-button:hover, .convert-button:active {
    font-size: 18px;
    border-radius: 0px 10px 10px 0px;
    width: (100% - 200px);
    height: 100%;
    color: rgb(240, 240, 240) !important;
    background-color: rgb(42, 155, 74) !important;
}


.download-url {
    font-size: 20px;
    width: 100%;
    border-radius: 10px 0px 0px 10px;
}

.terms-of-use {
    text-align: center;
    font-size: 10px;
}

.youtube-categories .nav-item {
    width: calc(100% - 73%) !important;
    cursor: pointer !important;
}
.nav-link{
    border-radius: 15px 15px 0px 0px !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active  {
    color: rgb(79, 79, 79);
    background-color: #fff;
}

.nav-link:focus {
    border-color: rgb(165, 148, 148) !important;
}

.blockquote-footer::before {
    content: none;
}

.download-button {
    border-radius: 10px 10px 10px 10px;
    font-size: 15px;
}

.badge-danger-resolution {
    font-size: 10px;
    vertical-align: text-top;
}

.badge-success-resolution {
    font-size: 10px;
    vertical-align: text-top;
}

.youtube-video-embed-empty {
    background-color: gray;
}

.embed-responsive-item-empty {
    display: none;
}