.main-input {
    justify-content: center !important;
}

.whole-input {
    width: 60%;
    left: 20%;
}

.whole-input input::placeholder {
  font-size: 17px;
}

.whole-input input {
    font-size: 17px;
    padding-left: 15px;
}

.form-control:focus{
    border-color: #c1c1c1;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.download-button {
    font-size: 18px;
    border-radius: 0px 10px 10px 0px;
    width: (100% - 200px);
    height: 100%;
    color: rgb(240, 240, 240);
    background-color: rgb(46,164,79);
}

.download-button:hover {
    font-size: 18px;
    border-radius: 0px 10px 10px 0px;
    width: (100% - 200px);
    height: 100%;
    color: rgb(240, 240, 240);
    background-color: rgb(42, 155, 74);
}


.download-url {
    font-size: 20px;
    width: 100%;
    border-radius: 10px 0px 0px 10px;
}

.terms-of-use {
    text-align: center;
    font-size: 10px;
}

.youtube-categories .nav-item {
    width: calc(100% - 73%) !important;
    cursor: pointer !important;
}

.blockquote-footer::before {
    content: none;
}
