.download-button {
    font-size: 20px;
    border-radius: 0px 10px 10px 0px;
    width: (100% - 200px);
}

.download-url {
    font-size: 20px;
    width: 100%;
    border-radius: 10px 0px 0px 10px;
}

.terms-of-use {
    text-align: center;
}

.youtube-video-embed {

}


.youtube-categories .nav-item {
    width: calc(100% - 73%)!important;
    cursor: pointer !important;
}


.blockquote-footer::before {
    content: none;
}